.alert {
    display: block;
    border: solid 1px $medium-neutral-color;
    background-color: $light-neutral-color;
    color: $dark-neutral-color;
    margin: 3*$margin;
    padding: 2*$padding;

    &.alert-error {
        background-color: lighten($error-color, 45%);
        color: $error-color;
        border-color: lighten($error-color, 25%);
    }

    &.alert-success {
        background-color: lighten($success-color, 45%);
        color: $success-color;
        border-color: lighten($success-color, 25%);
    }

    &.alert-info {
        background-color: lighten($info-color, 45%);
        color: $info-color;
        border-color: lighten($info-color, 25%);
    }

    &.alert-warning {
        background-color: lighten($warning-color, 45%);
        color: $warning-color;
        border-color: lighten($warning-color, 25%);
    }
}