.article-card {
    border: solid 1px $medium-neutral-color;
    margin-bottom: $margin;
    padding-bottom: $padding;
    height: calc(100% - 30px);
    
    .article-image {
        width: 100%;
        img {
            width: 100%;
        }
    }

    .article-body {
        padding: $padding;
    }
    
    .article-meta {
        color: $dark-neutral-color;
        font-size: $font-size-s;
    }
    
    .article-title {
        color: darken($primary-color, 15%);
        margin: $margin 0;
        &:after {
            content: "";
            display: block;
            background-color: $secondary_color;
            width: 2rem;
            height: 3px;
            //margin-top: -1rem;
        }
    }
    
    .article-intro {
        margin: $margin 0;
    }
}