.article-card {
    border: solid 1px $medium-neutral-color;
    margin-bottom: $margin;
    padding-bottom: $padding;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    .article-image {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .article-body {
        padding: $padding;
        margin-bottom: auto;
        .article-title {
            color: darken($primary-color, 15%);
            margin: $margin 0;
            &:after {
                content: "";
                display: block;
                background-color: $secondary_color;
                width: 2rem;
                height: 3px;
            }
        }
        .article-intro {
            margin: $margin 0;
        }
    }
    .article-footer {
        padding: 0 $padding;
        color: $dark-neutral-color;
        font-size: $font-size-s;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .article-author-photo {
            width: 50px;
            height: 50px;
            margin-right: .5rem;
        }
        .article-meta {
            flex: 1 0 50%;
            .article-author-name {
                font-weight: bold;
            }
        }
        .article-fan {
            white-space: nowrap;
            line-height: 1.8rem;
            .icon {
                font-size: 1.5rem;
                vertical-align: middle;
            }
            .icon-liked {
                color: $liked-icon-color;
            }
            a {
                color: $fan-icon-color;
            }
            a:hover {
                text-decoration: none;
                color: $secondary-color;
            }
        }
    }
}