@mixin ui-status {
    &.empty {
        .ui-status.empty {
            display: block;
        }
    }
    &.loading {
        .ui-status.loading {
            display: block;
        }
    }
    &.loaded {
        .ui-status.loaded {
            display: block;
        }
    }

}

@mixin no-decoration {
    &, &:hover, &:active, &:focus, &:visited {
        text-decoration: none;
    }
}