.navbar {
    .title {
        text-align: center;
        @include if-size-sm {
            margin-left: $margin;
        }
    }
    .navbar-main {
        text-align: center;
        @include if-size-sm {
            text-align: right;
            margin-right: $margin;
            margin-top: $margin;
        }
    }
    @include if-size-sm {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.navbar-list {
    list-style: none;
}

.navbar-item {
    border-bottom: solid 1px $light-neutral-color;
    &:first-child {
        border-top: solid 1px $light-neutral-color;
    }
    a {
        @include no-decoration;
        display: block;
        padding: .5rem;
        color: $link-color;
        &:hover {
            background-color: $light-neutral-color;
        }
    }
    &.is-active a {
        background-color: $primary-color;
        color: $light-neutral-color;
    }
}

.navbar-horizontal .navbar-item {
    display: inline-block;
    border: none;
    a {
        border-bottom: 3px solid white;
    }
    a:hover {
        border-bottom: solid 3px $primary-color;
        background-color: transparent;
    }
    &.is-active {
        a {
            border-bottom: solid 3px $secondary-color;
            color: $link-color;
            background-color: transparent;
            &:hover {
                background-color: transparent;
            }
        }
    }
}

/* For scrolling horizontal navbar */

.navbar-scrolling-wrapper {
    position: relative;
    max-width: 100%;
}

.navbar-scrolling {
    margin: $margin 2*$margin;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    &::-webkit-scrollbar {
        display: none;
    }
    .navbar-list {
        float: left;
    }
}

.navbar-indicator {
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: 2rem;
    opacity: 0;
    &.left {
        left: $margin;
        [data-overflow="both"]~&,
        [data-overflow="left"]~& {
            opacity: 1;
        }
    }
    &.right {
        right: $margin;
        line-height: 4rem;
        [data-overflow="both"]~&,
        [data-overflow="right"]~& {
            opacity: 1;
        }
    }
}
