.navbar-search {
    position: absolute;
    top: -6rem;
    right: 0;
    background: white;
    display: flex;
    justify-content: center;
    text-align: left;
    z-index: 999;
    width: 100%;
    transition: all .3s ease;
    opacity: 0;
    &.expanded {
        top: 3.7rem;
        opacity: 1;
    }
    input {
        display: inline;
        font-size: 3rem;
        @include if-size-md {
            font-size: 2.5em;
        }
    }
    button {
        width: 4rem;
        font-size: 3rem;
        @include if-size-md {
            font-size: 2.5em;
        }
    }
    @include if-size-md {
        width: 30rem;
        right: 12rem;
        &.expanded {
            top: 0;
        }
    }
}

