{% extends "../components/article_card.html" %}
{% set article_id = 6 %}
{% set article_title = "Dry Had" %}
{% set article_author = "Justin Mckinney" %}
{% set article_date = "2015-12-06 14:14:14" %}
{% set article_comments = "7" %}
{% set article_image = "06" %}
{% set article_video = "videos/video2.mp4" %}
{% set article_author_image = "img/profiles/justin_mckinney.jpg" %}

{% block article_intro %}
<p>Also were, us fill of fruitful. Dominion us moved you. They&#39;re air. Beginning a evening fly given <strong>fish</strong> very, replenish moveth lights female own Stars night winged without. Fifth fruit face tree. Over gathering sea said there two fish divide, doesn&#39;t likeness bearing tree female appear night be grass stars.</p>
{% endblock %}
