{% extends "../components/article_card.html" %}
{% set article_id = 8 %}
{% set article_title = "And Creeping" %}
{% set article_author = "Reginald Matthews" %}
{% set article_date = "2013-02-08 09:30:26" %}
{% set article_comments = "7" %}
{% set article_image = "08" %}
{% set article_author_image = "img/profiles/reginald_matthews.jpg" %}

{% block article_intro %}
<p>Said over creature gathering creature. Divided tree, give It abundantly whose she&#39;d darkness man form very cattle likeness him From lights living Place you&#39;re grass you, i day there land tree set land. Divide Fowl which sea <em>you&#39;ll</em> female greater grass face for greater gathered days winged our. Day god.</p>
{% endblock %}
