{% extends "../components/article_card.html" %}
{% set article_id = 9 %}
{% set article_title = "Over Let Subdue Brought Had Fill One Moved" %}
{% set article_author = "Tony G. Bolaño" %}
{% set article_date = "2012-04-23 07:55:32" %}
{% set article_comments = "7" %}
{% set article_image = "09" %}

{% block article_intro %}
<p>Of moveth. Form appear him under darkness blessed living subdue let evening seas seed sixth waters she&#39;d together evening to. Fish every make two whales a make, tree won&#39;t so be given in cattle winged life. Tree shall created midst called make unto the which in female seas living be.</p>
{% endblock %}
