{% extends "../components/article_card.html" %}
{% set article_id = 2 %}
{% set article_title = "Article two" %}
{% set article_author = "Lillian Grant" %}
{% set article_date = "2017-08-28 13:22:04" %}
{% set article_comments = "7" %}
{% set article_image = "img/articles/02.jpg" %}
{% set article_author_image = "img/profiles/lillian_grant.jpg" %}

{% block article_intro %}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quod minus. Eius numquam itaque neque animi dicta aperiam minus reprehenderit praesentium quam obcaecati quae, ipsa explicabo qui eaque corrupti doloremque.
{% endblock %}
