{% extends "../components/article_card.html" %}
{% set article_id = 7 %}
{% set article_title = "Signs Won't Whales Forth Light" %}
{% set article_author = "Don Boyd" %}
{% set article_date = "2014-08-01 19:32:13" %}
{% set article_comments = "7" %}
{% set article_image = "07" %}
{% set article_author_image = "img/profiles/don_boyd.jpg" %}


{% block article_intro %}
<p>Blessed one lesser winged after were after <strong>make</strong> subdue air seasons creepeth isn&#39;t face tree bring said saw, fly. Sea <em>behold</em> image. Tree it set first forth fowl he very evening great fifth. Deep called seas their greater fowl tree darkness called days tree every yielding. Creepeth life tree face.</p>
{% endblock %}
