{% extends "../components/article_card.html" %}
{% set article_id = 5 %}
{% set article_title = "She's Fly Saying Heaven" %}
{% set article_author = "Aiden Owens" %}
{% set article_date = "2016-01-06 05:10:26" %}
{% set article_comments = "7" %}
{% set article_image = "05" %}
{% set article_author_image = "img/profiles/aiden_owens.jpg" %}

{% block article_intro %}
<p>In lights appear whales may <strong>were</strong> give can&#39;t. Blessed thing, land very very saw you firmament. Evening life deep from fowl, bearing <em>forth</em> moved day First thing face set over face day thing gathered every appear it set rule, give Own thing living, isn&#39;t. Replenish without living be his. Second.</p>
{% endblock %}
