{% extends "../components/article_card.html" %}
{% set article_title = "Article one" %}
{% set article_author = "Tony G. Bolaño" %}
{% set article_date = "a month ago" %}
{% set article_comments = "7" %}
{% set article_image = "https://unsplash.it/800/600/?image=1012" %}

{% block article_intro %}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quod minus. Eius numquam itaque neque animi dicta aperiam minus reprehenderit praesentium quam obcaecati quae, ipsa explicabo qui eaque corrupti doloremque.
{% endblock %}
