{% extends "../components/article_card.html" %}
{% set article_id = 10 %}
{% set article_title = "Upon Third Itself Brought Fill That Goog Them" %}
{% set article_author = "Paula Fowler" %}
{% set article_date = "1990-04-20 10:00:00" %}
{% set article_comments = "7" %}
{% set article_image = "10" %}
{% set article_author_image = "img/profiles/paula_fowler.jpg" %}

{% block article_intro %}
<p>Midst male isn&#39;t firmament days there of blessed man lights midst <em>i</em> sixth. Without stars good Earth for first. Divided shall dry you&#39;re kind life <strong>won&#39;t</strong> subdue unto have set moving behold second living isn&#39;t dry. Fish. Bring great can&#39;t, first whose fourth. Beginning, hath deep abundantly greater upon after.</p>
{% endblock %}
