{% extends "../components/article_card.html" %}
{% set article_id = 3 %}
{% set article_title = "Article with a title a bit longer than the rest" %}
{% set article_author = "Tony G. Bolaño" %}
{% set article_date = "2017-08-28 10:23:23" %}
{% set article_comments = "7" %}
{% set article_image = "img/articles/03.jpg" %}

{% block article_intro %}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quod minus. Eius numquam itaque neque animi dicta aperiam minus reprehenderit praesentium quam obcaecati quae, ipsa explicabo qui eaque corrupti doloremque.
{% endblock %}
