{% extends "../components/article_card.html" %}
{% set article_id = 10 %}
{% set article_title = "Article ten" %}
{% set article_author = "Tony G. Bolaño" %}
{% set article_date = "1990-04-20 10:00:00" %}
{% set article_comments = "7" %}
{% set article_image = "10" %}

{% block article_intro %}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quod minus. Eius numquam itaque neque animi dicta aperiam minus reprehenderit praesentium quam obcaecati quae, ipsa explicabo qui eaque corrupti doloremque.
{% endblock %}
