{% extends "../components/article_card.html" %}
{% set article_id = 3 %}
{% set article_title = "Earth Midst From a Saying Earth" %}
{% set article_author = "Kenneth Parker" %}
{% set article_date = "2017-08-28 10:23:23" %}
{% set article_comments = "7" %}
{% set article_image = "03" %}

{% block article_intro %}
<p>Fourth had give moveth herb midst she&#39;d <strong>void</strong> us i, heaven whales midst face <strong>seed</strong> unto. Hath man. Winged life upon land. Had void. Cattle whales dry years upon, won&#39;t likeness to, blessed given winged very whales all said behold set have land seasons above of night multiply living cattle.</p>
{% endblock %}
