{% extends "../components/article_card.html" %}
{% set article_id = 6 %}
{% set article_title = "Article one" %}
{% set article_author = "Justin Mckinney" %}
{% set article_date = "2015-12-06 14:14:14" %}
{% set article_comments = "7" %}
{% set article_image = "img/articles/06.jpg" %}
{% set article_video = "videos/video2.mp4" %}
{% set article_author_image = "img/profiles/justin_mckinney.jpg" %}

{% block article_intro %}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quod minus. Eius numquam itaque neque animi dicta aperiam minus reprehenderit praesentium quam obcaecati quae, ipsa explicabo qui eaque corrupti doloremque.
{% endblock %}
