{% extends "../components/article_card.html" %}
{% set article_id = 4 %}
{% set article_title = "Whose Wherein Void Lesser Hath Fowl First" %}
{% set article_author = "Scarlett Jimenez" %}
{% set article_date = "2017-08-22 09:30:26" %}
{% set article_comments = "7" %}
{% set article_image = "04" %}

{% block article_intro %}
<p>Hath, the dry beginning saying in place blessed, blessed their air, lights under first tree behold i. Were said, male blessed grass have fourth abundantly form creepeth. Moveth one void and beast <strong>seed</strong> also midst, lights make, him of seas, one made. That itself set stars image spirit sixth he.</p>
{% endblock %}
