{% extends "../components/article_card.html" %}
{% set article_id = 1 %}
{% set article_title = "Article one" %}
{% set article_author = "Roksolana Zasiadko" %}
{% set article_date = "a month ago" %}
{% set article_comments = "7" %}
{% set article_image = "https://unsplash.it/800/600/?image=1001" %}
{% set article_author_image = "https://unsplash.it/800/600/?image=1027" %}

{% block article_intro %}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quod minus. Eius numquam itaque neque animi dicta aperiam minus reprehenderit praesentium quam obcaecati quae, ipsa explicabo qui eaque corrupti doloremque.
{% endblock %}

{% block article_body %}
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate delectus explicabo aperiam facilis odio ipsa ipsum dignissimos laboriosam, temporibus animi. Quam odio minima libero rem alias repellat cupiditate in numquam!</p>
<p>Odit deleniti, saepe deserunt quis excepturi veritatis nihil libero doloribus dolor iure consequatur ratione totam exercitationem error explicabo autem non ex, cumque, quas quam dolores nisi. Atque minus dolorum itaque.</p>
<p>Voluptatem hic adipisci nihil minus eos quae esse perspiciatis excepturi vel omnis nostrum vero illum architecto pariatur placeat ea officia ut, facere deserunt recusandae rem commodi ab aliquid. Fugit, porro?</p>
<p>Sequi cumque quod tenetur magnam ad! Quidem similique error cum fugit blanditiis enim doloremque veniam dolore. Dicta voluptatibus magni voluptas accusantium ullam mollitia? Repudiandae repellendus mollitia dignissimos rem sequi blanditiis?</p>
<p>Nemo illum, quidem repellendus autem vel praesentium ea odio nam incidunt sequi expedita tempore ratione eum aut impedit beatae necessitatibus laudantium harum architecto. Iusto assumenda dicta, totam ipsa cupiditate dolores?</p>
<p>Atque nisi dolorum repellendus expedita laudantium excepturi voluptate aspernatur, iure reiciendis molestias vero. Nam corrupti sapiente fugit atque reprehenderit debitis delectus, in earum at, nesciunt quisquam! Officia recusandae iusto unde.</p>
{% endblock %}