$primary-color: #17A768;
$secondary-color: #F1601D;
$tertiary-color: #F1AD1D;

$light-neutral-color: #E7E0D2;
$medium-neutral-color: #BBAE93;
$dark-neutral-color: #716653;

$text-color: darken($dark-neutral-color, 10%);
$title-color: $primary-color;
$link-color: darken($secondary-color, 20%);

$error-color: $secondary-color;
$warning-color: $tertiary-color;
$success-color: $primary-color;

$font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$title-font-family: "Titillium Web", $font-family;

$font-size: 16px;
$font-size-m: 1.25rem;
$font-size-l: 1.33rem;
$font-size-s: .8rem;

$padding: 1rem;
$margin: $padding;

// disable frow buttons
$frow-enable-buttons: false;

// min sizes for responsive breakpoints
// this values are defined as frow defaults
// if you change this, you must change frow variables
$size-xs: 0px;  // obviusly on mobile first design
$size-sm: 768px;
$size-md: 992px;
$size-lg: 1200px;