<div class="article-card height-100">
    <div class="article-image">
        <img src="{{ article_image }}">
    </div>
    <div class="article-body">
        <div class="article-title">
            <h2>{{ article_title }}</h2>
        </div>
        <div class="article-meta">
            {{ article_author }} |
            {{ article_date }} |
            {{ article_comments }}
        </div>
        <div class="article-intro">
            {% block article_intro %}{% endblock %}
        </div>
    </div>
</div>