<div class="article-card height-100">
    {% if article_video %}
    <div class="article-video responsive-video-container">
        <video class="responsive-video" poster="{{ article_image }}">
            <source src="{{ article_video }}" type="video/mp4">
                Your browser does not support the video tag.
        </video>
        <button class="video-play-button play"><i class="icon icon-play"></i></button>
    </div>
    {% else %}
    <div class="article-image">
        <a href="article_detail.html"><img src="{{ article_image }}"></a>
    </div>
    {% endif %}
    <div class="article-body">
        <div class="article-title">
            <h2><a href="article_detail.html">{{ article_title }}</a></h2>
        </div>
        <div class="article-intro">
            {% block article_intro %}{% endblock %}
        </div>
    </div>
    <div class="article-footer">
        <div class="article-author-photo" data-profile="{{ article_author_image }}">
            <img src="img/user-profile.svg">
        </div>
        <div class="article-meta">
            <div class="article-author-name">
                {{ article_author }}
            </div>
            <div class="article-date" data-pub-date="{{ article_date }}">
                {{ article_date }}
            </div>
        </div>
        <div class="article-fan">
            <a href="#" class="article-like" data-article-id="{{ article_id }}">
                <i class="icon icon-like"></i>
                <span class="article-likes-count">{{ article_likes }}</span>
            </a>
            <br>
            <a href="article_detail.html#comments">
                <i class="icon icon-comments"></i>
                <span>{{ article_comments }}</span>
            </a>
        </div>
    </div>
</div>