<div class="article-card height-100">
    <div class="article-image">
        <img src="{{ article_image }}">
    </div>
    <div class="article-body">
        <div class="article-title">
            <h2>{{ article_title }}</h2>
        </div>
        <div class="article-intro">
            {% block article_intro %}{% endblock %}
        </div>
    </div>
    <div class="article-footer">
        <div class="article-author-photo">
        </div>
        <div class="article-meta">
            <div class="article-author-name">
                {{ article_author }}
            </div>
            <div class="article-date">
                {{ article_date }}
            </div>
        </div>
        <div class="article-fan">
            <i class="icon icon-like"></i>
            {{ article_likes }}
            <br>
            <i class="icon icon-comments"></i>
            <span>{{ article_comments }}</span>
        </div>
    </div>
</div>