<aside>
    <ul class="nav-vertical">
        <li class="nav-item"><a href="#">category</a></li>
        <li class="nav-item"><a href="#">category</a></li>
        <li class="nav-item"><a href="#">category</a></li>
        <li class="nav-item"><a href="#">category</a></li>
        <li class="nav-item"><a href="#">category</a></li>
        <li class="nav-item"><a href="#">category</a></li>
        <li class="nav-item"><a href="#">category</a></li>
        <li class="nav-item"><a href="#">category</a></li>
        <li class="nav-item"><a href="#">category</a></li>
        <li class="nav-item"><a href="#">category</a></li>
    </ul>
</aside>
