<form class="comment-form loaded" id="commentForm" novalidate>
    <div class="ui-status loading overlay">
        <div class="spinner"></div>
        <div class="text-center">Sending comment, please wait...</div>
    </div>
    <div class="alert alert-error ui-status error">
        Please correct errors below to submit your comments.
    </div>
    <div class="ui-status loaded">
        <input type="hidden" id="articleId" name="articleId" value="{{ article_id }}">
        <div class="frow gutters items-baseline">
            <div class="col-md-1-4">
                <div class="form-group">
                    <label for="email">email</label>
                    <input type="email" id="email" name="email" required="required">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" required="required">
                </div>
            </div>
            <div class="col-md-2-4">
                <div class="form-group">
                    <label for="comment">Comment</label>
                    <textarea name="comment" id="comment" cols="30" rows="4" required="required" data-max-words="120"></textarea>
                </div>
            </div>
        </div>
        <div class="frow">
            <div class="col-md-2-5">
                <div class="form-group"><button>Send comment</button></div>
            </div>
        </div>
    </div>
</form>