<div class="navbar-horizontal navbar-center navbar-main">
    <ul class="navbar-list">
        <li class="navbar-item">
            <a href="#" id="search-opener"><span class="icon icon-search"></span></a>
            <form action="" class="navbar-search" id="navbar-search">
                <input type="search" placeholder="Search">
                <button type="submit"><i class="icon icon-search"></i></button>
            </form>
        </li>
        <li class="navbar-item">
            <a href="login.html"><i class="icon icon-login"></i></a>
        </li>
    </ul>
</div>