<div class="pager">
    <ol class="pager-group">
        <li class="pager-item">
            <a href="" class="pager-chevron"><i class="icon icon-left-arrow"></i></a>
        </li>
        <li class="pager-item">
            <a class="pager-link current">1</a>
        </li>
        <li class="pager-item">
            <a class="pager-link" disabled="disabled" style="display: none;">...</a>
        </li>
        <li class="pager-item">
            <a class="pager-link"><span>2</span></a>
        </li>
        <li class="pager-item">
            <a class="pager-link"><span>3</span></a>
        </li>
        <li class="pager-item">
            <a class="pager-link"><span>4</span></a>
        </li>
        <li class="pager-item">
            <a class="pager-link"><span>5</span></a>
        </li>
        <li class="pager-item">
            <a class="pager-link pager-disabled">...</a>
        </li>
        <li class="pager-item">
            <a class="pager-link"><span>40</span></a>
        </li>
        <li class="pager-item">
            <a href="" class="pager-chevron"><i class="icon icon-right-arrow"></i></a>
        </li>
    </ol>
    <form class="pager-input">
        <label for="pager-num">Go to page</label>
        <input id="pager-num" name="pager-num" type="number">
    </form>
</div>