{% extends "layouts/default.html" %}

{% set title = "re/connect - Article details" %}
{% set article_id = "1" %}
{% set article_date = "2017-08-30 18:33:26" %}
{% set article_author = "Tony G. Bolaño" %}

{% block content %}

<div class="frow-container">
    <article>

        <div class="article-header-image">
            <img src="img/articles/01.jpg" alt="">
        </div>

        <h1>Un artículo de prueba</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus libero ullam provident sunt qui, eum quae necessitatibus
            incidunt nam. Dolore itaque error impedit tempora magni provident accusantium unde facilis commodi.</p>
        <p>At laboriosam enim, itaque, <b>ab tempore</b> sunt dolorem aperiam quam voluptates quis perferendis maiores eligendi
            quod id ut facilis autem eveniet sequi a commodi quibusdam quo! Suscipit quibusdam eaque tempore.</p>
        <p>Nisi harum, quidem aliquam laboriosam voluptatem reiciendis tenetur sapiente ut facilis ab laborum! Natus dolore
            nam nostrum? Quis quos veritatis delectus nemo! <em>Beatae ad facere</em> illo esse rerum eos! Culpa?</p>
        <p>Commodi minima sit recusandae sed repellendus? Dolores ratione voluptatem saepe est doloribus odit tempora quos accusantium
            laudantium non molestiae eos ad ipsam, harum repellendus voluptates laboriosam molestias temporibus soluta suscipit.</p>
        <p>Officia vero illo in voluptatibus eius harum, quidem tempore magni autem molestias laudantium enim id commodi est
            <i>magnam corrupti</i> consequuntur optio sapiente praesentium inventore deleniti dolores suscipit dolorem iure.
            Illum?
        </p>
        <p>Voluptate rerum deserunt voluptates accusantium corrupti fugiat deleniti fugit eius quis earum ab ratione amet libero
            illo voluptatem mollitia error, vel cum similique, ullam in nam perferendis? Laboriosam, doloribus nostrum!</p>
        <p>Assumenda, voluptatibus eos. Aut deserunt et, placeat quae nihil quia, iure necessitatibus, ut itaque cum asperiores
            <a href="http://tonygb.com" target="_blank">officia labore</a> dolorem numquam a optio voluptatum laborum! Facere,
            aut earum. Ipsam, quidem exercitationem.</p>
        <p>Quas, voluptatum, modi ipsa <b>suscipit fugit laboriosam</b>, blanditiis voluptatem a quos fugiat soluta? Repudiandae
            quasi omnis maxime? Sint necessitatibus laudantium animi doloremque delectus itaque esse molestias, adipisci
            ipsum suscipit consequuntur?
        </p>
        <p>Vero iusto, exercitationem ea, rem, nulla a possimus dicta officia deleniti velit asperiores voluptatem ratione qui.
            Eos eius numquam quam, enim expedita corporis optio animi autem deserunt. Molestiae, ab rem?</p>
        <p>Eligendi ex iusto quo rem eius, tempore aut officiis neque, numquam ipsam praesentium molestias explicabo repudiandae
            aliquam, hic sequi quas! <strong>Reiciendis accusantium</strong> quod quas quidem dolores distinctio nesciunt
            tempora voluptatem.</p>
        <p>Quis ut impedit, praesentium illo veritatis deserunt vero, in sed at minima error suscipit eum accusantium facere?
            Id quia expedita qui vel blanditiis, optio rem velit est sequi quos libero?</p>
        <p>Animi voluptate asperiores consequuntur voluptatem itaque? Dolorem, quaerat animi! Porro, consequuntur tempora minima
            veritatis aliquam enim neque, corporis perferendis vel dolorum ipsa eaque illum hic provident debitis rem impedit
            dignissimos!
        </p>
        <div class="article-info">
            <div class="article-author-photo" data-profile="{{ article_author_image }}">
                <img src="img/user-profile.svg">
            </div>
            <div class="article-meta">
                <div class="article-author-name">
                    {{ article_author }}
                </div>
                <div class="article-date" data-pub-date="{{ article_date }}">
                    {{ article_date }}
                </div>
                <div class="article-fan">
                    <a href="#" class="article-like" data-article-id="{{ article_id }}">
                        <i class="icon icon-like"></i>
                        <span class="article-likes-count">{{ article_likes }}</span>
                    </a>
                    <a href="article_detail.html#comments">
                        <i class="icon icon-comments"></i>
                        <span class="comments-counter" data-article-id="{{ article_id }}"></span>
                    </a>
                </div>
            </div>
        </div>
    </article>

    <section class="add-comment">
        <a id="comments"></a>
        <h3>Leave a comment</h3>
        {% include "components/comment_form.html" %}
    </section>
    <section class="comments-section loading" data-article-id="{{ article_id }}">
        <h3>Comments</h3>
        <div class="ui-status loading">
            <div class="spinner"></div>
            <div class="text-center">Loading comments...</div>
        </div>
        <div class="ui-status loaded">Loaded (it shoudn't be shown this way)...</div>
        <div class="ui-status empty">
            <div class="alert alert-info">
                <p>No comments yet. Be the first in comment this article.</p>
            </div>
        </div>
        <div class="ui-status error">
            <div class="alert alert-error">
                <h3>Ooops! Something went wrong!</h3>
                <p>An error has ocurred while loading comments. Please try again later. If the problem persist, please contact
                    us using the contact forms.</p>
            </div>
        </div>
    </section>
</div>
{% endblock content %}