{% extends "layouts/default.html" %} {% set title = "re/connect - Article details" %} {% block content %}
<div class="frow-container">
    <article>
        <h1>Un artículo de prueba</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus libero ullam provident sunt qui, eum quae necessitatibus
            incidunt nam. Dolore itaque error impedit tempora magni provident accusantium unde facilis commodi.</p>
        <p>At laboriosam enim, itaque, ab tempore sunt dolorem aperiam quam voluptates quis perferendis maiores eligendi quod
            id ut facilis autem eveniet sequi a commodi quibusdam quo! Suscipit quibusdam eaque tempore.</p>
        <p>Nisi harum, quidem aliquam laboriosam voluptatem reiciendis tenetur sapiente ut facilis ab laborum! Natus dolore
            nam nostrum? Quis quos veritatis delectus nemo! Beatae ad facere illo esse rerum eos! Culpa?</p>
        <p>Commodi minima sit recusandae sed repellendus? Dolores ratione voluptatem saepe est doloribus odit tempora quos accusantium
            laudantium non molestiae eos ad ipsam, harum repellendus voluptates laboriosam molestias temporibus soluta suscipit.</p>
        <p>Officia vero illo in voluptatibus eius harum, quidem tempore magni autem molestias laudantium enim id commodi est
            magnam corrupti consequuntur optio sapiente praesentium inventore deleniti dolores suscipit dolorem iure. Illum?</p>
        <p>Voluptate rerum deserunt voluptates accusantium corrupti fugiat deleniti fugit eius quis earum ab ratione amet libero
            illo voluptatem mollitia error, vel cum similique, ullam in nam perferendis? Laboriosam, doloribus nostrum!</p>
        <p>Assumenda, voluptatibus eos. Aut deserunt et, placeat quae nihil quia, iure necessitatibus, ut itaque cum asperiores
            officia labore dolorem numquam a optio voluptatum laborum! Facere, aut earum. Ipsam, quidem exercitationem.</p>
        <p>Quas, voluptatum, modi ipsa suscipit fugit laboriosam, blanditiis voluptatem a quos fugiat soluta? Repudiandae quasi
            omnis maxime? Sint necessitatibus laudantium animi doloremque delectus itaque esse molestias, adipisci ipsum
            suscipit consequuntur?
        </p>
        <p>Vero iusto, exercitationem ea, rem, nulla a possimus dicta officia deleniti velit asperiores voluptatem ratione qui.
            Eos eius numquam quam, enim expedita corporis optio animi autem deserunt. Molestiae, ab rem?</p>
        <p>Eligendi ex iusto quo rem eius, tempore aut officiis neque, numquam ipsam praesentium molestias explicabo repudiandae
            aliquam, hic sequi quas! Reiciendis accusantium quod quas quidem dolores distinctio nesciunt tempora voluptatem.</p>
        <p>Quis ut impedit, praesentium illo veritatis deserunt vero, in sed at minima error suscipit eum accusantium facere?
            Id quia expedita qui vel blanditiis, optio rem velit est sequi quos libero?</p>
        <p>Animi voluptate asperiores consequuntur voluptatem itaque? Dolorem, quaerat animi! Porro, consequuntur tempora minima
            veritatis aliquam enim neque, corporis perferendis vel dolorum ipsa eaque illum hic provident debitis rem impedit
            dignissimos!
        </p>
    </article>

    <section class="add-comment" data-article-id="1">
        <h3>Leave a comment</h3>
        <form action="" class="comment-form" novalidate>
            <div class="form-group">
                <label for="email">email</label>
                <input type="email" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required="required">
            </div>
            <div class="form-group">
                <label for="comment">Comment</label>
                <textarea name="comment" id="comment" cols="30" rows="10" required="required"></textarea>
            </div>
            <div class="form-group"><button>Send comment</button></div>
        </form>
    </section>
    <section class="comments-section loading" data-article-id="1">
        <h3>Comments</h3>
        <div class="ui-status loading">
            <div class="spinner"></div>
            <div class="text-center">Loading comments...</div>
        </div>
        <div class="ui-status loaded">Loaded (it shoudn't be shown this way)...</div>
        <div class="ui-status empty">
            <div class="alert alert-info">
                <p>No comments yet. Be the first in comment this article.</p>
            </div>
        </div>
        <div class="ui-status error">
            <div class="alert alert-error">
                <h3>Ooops! Something went wrong!</h3>
                <p>An error has ocurred while loading comments.
                    Please try again later.
                    If the problem persist, please contact us using the contact forms.</p>
            </div>
        </div>
    </section>
</div>
{% endblock content %}