{% extends "layouts/default.html" %}
{% set title = "re/connect - A new keep social network" %}

{% block content %}
    {% include "includes/article1.html" %}
    {% include "includes/article2.html" %}
    {% include "includes/article3.html" %}
    {% include "includes/article4.html" %}
    {% include "includes/article5.html" %}
    {% include "includes/article6.html" %}
    {% include "includes/article7.html" %}
    {% include "includes/article8.html" %}
    {% include "includes/article9.html" %}
    {% include "includes/article10.html" %}
{% endblock %}