{% extends "layouts/default.html" %}
{% set title = "re/connect - A new keep social network" %}

{% block content %}

<div class="frow-container">
    <div class="frow gutters justify-start items-stretch">
        <div class="col-md-1-1">
            {% include "includes/article1.html" %}
        </div>
        <div class="col-sm-1-2 col-md-1-2">
            {% include "includes/article2.html" %}
        </div>
        <div class="col-sm-1-2 col-md-1-4">
            {% include "includes/article3.html" %}
        </div>
        <div class="col-sm-1-2 col-md-1-4">
            {% include "includes/article4.html" %}
        </div>
        <div class="col-sm-1-2 col-md-1-4">
            {% include "includes/article5.html" %}
        </div>
        <div class="col-sm-1-2 col-md-1-4">
            {% include "includes/article6.html" %}
        </div>
        <div class="col-sm-1-2 col-md-1-4">
            {% include "includes/article7.html" %}
        </div>
        <div class="col-sm-1-2 col-md-1-4">
            {% include "includes/article8.html" %}
        </div>
        <div class="col-sm-1-2 col-md-1-4">
            {% include "includes/article9.html" %}
        </div>
        <div class="col-sm-1-2 col-md-1-4">
            {% include "includes/article10.html" %}
        </div>
    </div>
</div>
{% endblock %}