{% extends "layouts/default.html" %}

{% block content %}

<div class="frow-container">
    <div class="frow gutters row-between items-start">
        <section class="login-section col-md-1-2">
            <h2>Login</h2>
            {% include "components/login_form.html" %}
        </section>
        <section class="register-section col-md-1-2">
            <h2>New user? Create an account</h2>
            {% include "components/register_form.html" %}
        </section>
    </div>
</div>

{% endblock content %}