<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <a name="top"></a>
    <nav class="navbar">
        <div class="title">
            <a href="index.html" class="logo logo-big">
                <div class="logo-image"></div>
                <span>re/</span>connect
            </a>
        </div>
        {% include "../components/main_menu.html" %}
        {% include "../components/categories_menu.html" %}
    </nav>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>
        <div class="back-top">
            <a href="#top">
                <i class="icon icon-top-arrow"></i><br>
                Back top
            </a>
        </div>
        <div class="brand">
            <a href="#" class="logo logo-inverted logo-medium">
                <i class="icon icon-logo-outline"></i><br>
                <span>re/</span>connect
            </a>
        </div>
    </footer>
    <script src="js/main.js" async></script>
</body>

</html>