<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <a name="top"></a>
    <nav class="navbar">
        <div class="title">
            <a href="#" class="logo logo-big">
                <div class="logo-image"></div>
                <span>re/</span>connect
            </a>
        </div>
        <div class="navbar-horizontal navbar-center navbar-main">
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a href="#" id="search-opener"><span class="icon icon-search"></span></a>
                    <form action="" class="navbar-search" id="navbar-search">
                        <input type="search" placeholder="Search">
                        <button type="submit"><i class="icon icon-search"></i></button>
                    </form>
                </li>
                <li class="navbar-item is-active"><a href="login.html">login / register</a></li>
            </ul>
        </div>
        <div class="navbar-scrolling-wrapper">
            <div class="navbar-horizontal navbar-scrolling" id="catMenu">
                <ul class="navbar-list" id="catMenuList">
                    <li class="navbar-item"><a href="#">Lorem</a></li>
                    <li class="navbar-item"><a href="#">Ipsum</a></li>
                    <li class="navbar-item"><a href="#">Dolor</a></li>
                    <li class="navbar-item"><a href="#">Sit</a></li>
                    <li class="navbar-item"><a href="#">Amet</a></li>
                    <li class="navbar-item"><a href="#">Consectetur</a></li>
                    <li class="navbar-item"><a href="#">Adipisicing</a></li>
                    <li class="navbar-item"><a href="#">Elit</a></li>
                    <li class="navbar-item"><a href="#">Voluptate</a></li>
                    <li class="navbar-item"><a href="#">Delectus</a></li>
                    <li class="navbar-item"><a href="#">Explicabo</a></li>
                    <li class="navbar-item"><a href="#">Aperiam</a></li>
                    <li class="navbar-item"><a href="#">Facilis</a></li>
                    <li class="navbar-item"><a href="#">Odio</a></li>
                    <li class="navbar-item"><a href="#">Ipsa</a></li>
                    <li class="navbar-item"><a href="#">Dignissimos</a></li>
                    <li class="navbar-item"><a href="#">Laboriosam</a></li>
                    <li class="navbar-item"><a href="#">Temporibus</a></li>
                    <li class="navbar-item"><a href="#">Animi</a></li>
                    <li class="navbar-item"><a href="#">Quam</a></li>
                    <li class="navbar-item"><a href="#">Minima</a></li>
                    <li class="navbar-item"><a href="#">Libero</a></li>
                    <li class="navbar-item"><a href="#">Alias</a></li>
                    <li class="navbar-item"><a href="#">Repellat</a></li>
                    <li class="navbar-item"><a href="#">Cupiditate</a></li>
                    <li class="navbar-item"><a href="#">Numquam</a></li>
                </ul>
            </div>
            <div class="navbar-indicator left">
                <i class="icon icon-left-arrow"></i>
            </div>
            <div class="navbar-indicator right">
                <i class="icon icon-right-arrow"></i>
            </div>
        </div>
    </nav>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>
        <div class="back-top">
            <a href="#top">
                <i class="icon icon-top-arrow"></i><br>
                Back top
            </a>
        </div>
        <div class="brand">
            <a href="#" class="logo logo-inverted logo-medium">
                <i class="icon icon-logo-outline"></i><br>
                <span>re/</span>connect
            </a>
        </div>
    </footer>
    <script src="js/main.js" async></script>
</body>

</html>