<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="title">
            <a href="#" class="logo logo-big"><span>re/</span>connect</a>
        </div>
        <div class="navbar-horizontal navbar-center">
            <ul class="navbar-list">
                <li class="navbar-item is-active"><a href="login.html">login / register</a></li>
                <li class="navbar-item"><a href="#">search</a></li>
                <li class="navbar-item"><a href="#">categories</a></li>
            </ul>
        </div>
    </nav>
    <aside>
        <ul class="nav-vertical">
            <li class="nav-item"><a href="#">category</a></li>
            <li class="nav-item"><a href="#">category</a></li>
            <li class="nav-item"><a href="#">category</a></li>
            <li class="nav-item"><a href="#">category</a></li>
            <li class="nav-item"><a href="#">category</a></li>
            <li class="nav-item"><a href="#">category</a></li>
            <li class="nav-item"><a href="#">category</a></li>
            <li class="nav-item"><a href="#">category</a></li>
            <li class="nav-item"><a href="#">category</a></li>
            <li class="nav-item"><a href="#">category</a></li>
        </ul>
    </aside>
    <main>
        <section class="articles-home loading">
            <div class="ui-status loading">
                <div class="spinner"></div>
                <div class="text-center">Loading content...</div>
            </div>
            <div class="ui-status loaded">
                {% block content %}{% endblock %}
            </div>
        </section>
    </main>
    <footer>
        <div class="brand">
            <a href="#" class="logo logo-inverted logo-medium"><span>re/</span>connect</a>
        </div>
    </footer>
</body>
</html>